/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/hero-home-placeholder.jpg");

    /* Set a specific height */
    width:100%;
    height:calc(100vh - 200px);
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
