%swiss-cheese{
  -webkit-transition: -webkit-clip-path 1s ease-out;
  transition: -webkit-clip-path 1s ease-out; /* needs to be prefixed otherwise it's not transitioned in Chrome */
  /* transition: clip-path .6s ease-out; */
}
.shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow(3px 3px 8px black);
            filter: drop-shadow(3px 3px 8px black);
}
@font-face {
  font-family:palanquin-light;
  src: url("fonts/palanquin/Palanquin-Light.ttf");
}
body{
  font-family: palanquin-light,futura, sans-serif;
}
.logo1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  height:calc(60vh);
}
.logo2{
  display:none;
}
.fog{

}
#temp{
  background-image: url("images/placeholder.jpg");
  -webkit-clip-path: circle(7% at 50% 25%);
  clip-path: circle(7% at 50% 25%);
}
#insight{
  background-image: url("images/hike_2880_20.jpg");
  -webkit-clip-path: circle(7% at 10% 25%);
  clip-path: circle(7% at 10% 25%);
}
#insight-heading{
  color:white;
  position:absolute;
  top:18%;
  left:6%;
  text-shadow: 2px 2px black;
  //background-color:rgba(255,255,255,0.7)
}
#integrity{
  background-image: url("images/levelingup_2880_20.jpg");
  -webkit-clip-path: circle(7% at 10% 50%);
  clip-path: circle(7% at 10% 50%);
}
#integrity-heading{
  color:white;
  position:absolute;
  top:43%;
  left:6%;
  text-shadow: 2px 2px black;
}
#integration{
  background-image: url("images/Integration_3091.jpg");
  -webkit-clip-path: circle(7% at 10% 75%);
  clip-path: circle(7% at 10% 75%);
}
#integration-heading{
  color:white;
  position:absolute;
  top:69%;
  left:6%;
  font-size:2em;
  text-shadow: 2px 2px black;
}
#insight:hover, #integrity:hover, #integration:hover, #temp:hover{
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}


@media only screen and (max-width : 799px) {
  .logo1 {display: none;}
  .logo2{
    display:block;
    position: absolute;
    left: 50%;
    transform: translate(-30%, 10%);
    height:calc(30vh);
  }
  #temp{
    background-image: url("images/placeholder.jpg");
    -webkit-clip-path: circle(10% at 50% 25%);
    clip-path: circle(10% at 50% 25%);
  }
  #insight{
    background-image: url("images/hike_2880_20.jpg");
    -webkit-clip-path: circle(10% at 15% 25%);
    clip-path: circle(10% at 15% 25%);
  }
  #insight-heading{
    font-size: 1.5em;
    color:white;
    position:absolute;
    top:20%;
    left:6%;
  }
  #integrity{
    background-image: url("images/levelingup_2880_20.jpg");
    -webkit-clip-path: circle(10% at 15% 50%);
    clip-path: circle(10% at 15% 50%);
  }
  #integrity-heading{
    font-size: 1.5em;
    color:white;
    position:absolute;
    top:45%;
    left:6%;
  }
  #integration{
    background-image: url("images/Integration_3091.jpg");
    -webkit-clip-path: circle(10% at 15% 75%);
    clip-path: circle(10% at 15% 75%);
  }
  #integration-heading{
    font-size: 1.5em;
    color:white;
    position:absolute;
    top:70%;
    left:6%;
  }
  .back-1{
    position: absolute;
    width:90px;
    height:90px;
    top: -35px;
    left: 0%;
    circle{
      fill: #6600cc;
    }
    h2{
      position:absolute;
      font-size: 1em;
      color: white;
      top: 40px;
      left: 23%;
    }
    svg{width:90px;height:90px;}
    circle{
      cx:45;
      cy:45;
      r:45;
    }
    .back-btn{
      height:90px;
    }
  }
  .back-2{
    position: absolute;
    width:90px;
    height:90px;
    top: -35px;
    left: 23%;
    circle{fill:#6600cc;}
    h2{
      position:absolute;
      font-size: 1em;
      color: white;
      top: 40px;
      left: 30%;
    }
    svg{width:90px;height:90px;}
    circle{
      cx:45;
      cy:45;
      r:45;
    }
    .back-btn{
      height:90px;
    }
  }
  .back-3{
    position: absolute;
    width:90px;
    height:90px;
    top: -35px;
    left: 46%;
    circle{fill:#6600cc;}
    h2{
      position:absolute;
      font-size: 1em;
      color: white;
      top: 40px;
      left: 30%;
    }
    svg{width:90px;height:90px;}
    circle{
      cx:45;
      cy:45;
      r:45;
    }
    .back-btn{
      height:90px;
    }
  }
  // #back-1{
  //   position: absolute;
  //   width:130px;
  //   height: 130px;
  //   top: -10%;
  //   left: 5%;
  //   circle{
  //     fill: #000;
  //   }
  //   h2{
  //     position:absolute;
  //     font-size: 1.7em;
  //     color: white;
  //     top: 60%;
  //     left: 15%;
  //   }
  //   svg{
  //     // width:62%;
  //     // height:70%;
  //     circle{
  //       cx:62;
  //       cy:62;
  //       r:62;
  //     }
  //   }
  // }
  // #back-2{
  //   position: absolute;
  //   width:130px;
  //   height: 130px;
  //   top: -10%;
  //   left: 40%;
  //   circle{fill:#000;}
  //   h2{
  //     position:absolute;
  //     font-size: 1.7em;
  //     color: white;
  //     top: 60%;
  //     left: 9%;
  //   }
  //   svg{
  //     // width:62%;
  //     // height:70%;
  //     circle{
  //       cx:62;
  //       cy:62;
  //       r:62;
  //     }
  //   }
  // }
  // #back-3{
  //   position: absolute;
  //   top: -10%;
  //   left: 75%;
  //   width:130px;
  //   height: 130px;
  //   circle{fill:#000;}
  //   h2{
  //     position:absolute;
  //     font-size: 1.5em;
  //     color: white;
  //     top: 60%;
  //     left: 5%;
  //   }
  //   svg{
  //     // width:62%;
  //     // height:70%;
  //     circle{
  //       cx:62;
  //       cy:62;
  //       r:62;
  //     }
  //   }
  // }
}
@media only screen  and (min-width : 800px) {

  .back-1{
    position: absolute;
    width:165px;
    height:165px;
    top: -10%;
    left: 5%;
    circle{
      fill: #6600cc;
    }
    h2{
      position:absolute;
      color: white;
      top: 55%;
      left: 20%;
    }
  }
  .back-2{
    position: absolute;
    width:165px;
    height:165px;
    top: -10%;
    left: 20%;
    circle{fill:#6600cc;}
    h2{
      position:absolute;
      //font-size: 1em;
      color: white;
      top: 55%;
      left: 25%;
    }
  }
  .back-3{
    position: absolute;
    width:165px;
    height:165px;
    top: -10%;
    left: 35%;
    circle{fill:#6600cc;}
    h2{
      position:absolute;
      //font-size: 1em;
      color: white;
      top: 55%;
      left: 25%;
    }
  }
}
.copy{
  position:absolute;
  margin-left: 30%;
  margin-right: 30%;
}
.copy-text{
  background-color:rgba(255,255,255,0.7);
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about-logo{
  position: relative;
  display:block;
  width:30%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  background-color: #2196F3;
  height: calc(100vh - 45px);
}
.portfolio-item{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 70px;
  img{
    width:100%;
    //height:100%;
  }
}
#construction-img{
  position: relative;
  display: block;
  width:30%;
  margin-left: auto;
  margin-right: auto;
  //height: calc(100vh - 45px);
}
/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/courtyard1.jpg");

    /* Set a specific height */
    width:100%;
    height:calc(100vh);
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(0.9);
    z-index: -1;
}

.nav-hole{
  /* The image used */
  /* Set a specific height */
  width:100%;
  height:calc(100vh);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  @extend %swiss-cheese;
}



@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    #integration { background-image: url('images/Integration_1440.jpg'); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {
    #integration { background-image: url('images/Integration_2880.jpg'); }
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}
.heading {
  position: absolute;
}
// #logo{
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%, 10%);
//   height:calc(40vh);
// }
// @media only screen and (min-width:900px){
//   #logo {height:50vh}
// }

.navbar{
  background-color: #6600cc;
}
@media only screen and (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}
