.nav-item {
  -webkit-transition: -webkit-clip-path 1s ease-out;
  transition: -webkit-clip-path 1s ease-out;
  /* needs to be prefixed otherwise it's not transitioned in Chrome */
  /* transition: clip-path .6s ease-out; */ }

/* The hero image */
.hero-image {
  /* The image used */
  background-image: url("images/hero-home-placeholder.jpg");
  /* Set a specific height */
  width: 100%;
  height: calc(100vh);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0; }

.nav-item {
  /* The image used */
  /* Set a specific height */
  width: 100%;
  height: calc(100vh);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2; }

#insight {
  background-image: url("images/placeholder.jpg");
  -webkit-clip-path: circle(8% at 10% 25%);
  clip-path: circle(8% at 10% 25%); }

#integrity {
  background-image: url("images/placeholder2.jpg");
  -webkit-clip-path: circle(8% at 10% 50%);
  clip-path: circle(8% at 10% 50%); }

#integration {
  background-image: url("images/Integration_3091.jpg");
  -webkit-clip-path: circle(8% at 10% 75%);
  clip-path: circle(8% at 10% 75%); }

#insight:hover, #integrity:hover, #integration:hover {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
  z-index: 3; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #integration {
    background-image: url("images/Integration_1440.jpg"); } }

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
  #integration {
    background-image: url("images/Integration_2880.jpg"); } }

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.heading {
  position: absolute; }

#logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  height: calc(40vh);
  z-index: 1; }

@media only screen and (min-width: 900px) {
  #logo {
    height: 50vh; } }
