%swiss-cheese{
  -webkit-transition: -webkit-clip-path 1s ease-out;
  transition: -webkit-clip-path 1s ease-out; /* needs to be prefixed otherwise it's not transitioned in Chrome */
  /* transition: clip-path .6s ease-out; */
}
.copy{
  position:absolute;
  margin-left: 30%;
  margin-right: 30%;
}
.copy-text{
  background-color:rgba(255,255,255,0.6);
  padding: 30px;
  margin-top: 10px;
  margin-botton: 10px;
}
#about-logo{
  position: relative;
  display:block;
  width:30%;
  margin-left: auto;
  margin-right: auto;
}
/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/maincups_5020_40.jpg");

    /* Set a specific height */
    width:100%;
    height:calc(100vh);
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    //opacity: 0.5;
    filter:grayscale(.1);
    z-index: -1;
}


.nav-hole{
  /* The image used */
  /* Set a specific height */
  width:100%;
  height:calc(100vh);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index:2;
  @extend %swiss-cheese;
}

#insight{
  background-image: url("images/hike_2880_20.jpg");
  -webkit-clip-path: circle(7% at 10% 25%);
  clip-path: circle(7% at 10% 25%);
}
#insight-heading{
  color:white;
  position:absolute;
  top:22%;
  left:6%;
}
#integrity{
  background-image: url("images/levelingup_2880_20.jpg");
  -webkit-clip-path: circle(7% at 10% 50%);
  clip-path: circle(7% at 10% 50%);
}
#integrity-heading{
  color:white;
  position:absolute;
  top:47%;
  left:5%;
}
#integration{
  background-image: url("images/Integration_3091.jpg");
  -webkit-clip-path: circle(7% at 10% 75%);
  clip-path: circle(7% at 10% 75%);
}
#integration-heading{
  color:white;
  position:absolute;
  top:72%;
  left:5%;
  font-size:2em;
}
#insight:hover, #integrity:hover, #integration:hover{
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
  //z-index:1;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    #integration { background-image: url('images/Integration_1440.jpg'); }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {
    #integration { background-image: url('images/Integration_2880.jpg'); }
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}
.heading {
  position: absolute;
}
#logo{
  // display: block;
  position: absolute;
  // margin-left: auto;
  // margin-right: auto;
  // top:-15%;
  left: 50%;
  transform: translate(-50%, 50%);
  height:calc(40vh);
  z-index: 1;
}
@media only screen and (min-width:900px){
  #logo {height:50vh}
}
//
//
//
//
//
//
//
.navbar{
  background-color: #6600cc;
}
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}
